
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer{
    border: solid black 1px;
    border-radius: 12px;
    background-color: black;
    width: 160px;
    padding: 12px;
}

.container{
    display: flex;
    width: 160px;
    justify-content: center;
    border: black solid 1px;
    background-color: black;
}


.calculatorContainer{
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.calculator{
    width: 160px;
    display: flex;
    margin-bottom: -21px;
}

.numbers{
    display: flex;
    flex-direction: column;
    width: 72px;
}

.numbersC,
.numbersR {
    width: 24px;
    background-color: gray;
    color: white;
}

.lastRow{
    display:flex;
}

.btnZero,
.btnPeriod {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btnZero{
    width: 48px;
}

.btnPeriod{
    width: 24px;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    width: 64px;
    height: 63px;
    margin: 0px 16px;

}

.operators > *{
    width: 24px;
    background-color: orange;
  
}

.calculation{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 160px;
    border: white solid 1px;
    border-radius: 6px;
    background-color: black;
    margin-bottom: 14px;
}

.calculation > *{
    width: 96px;
    display: flex;
    border-style: hidden;
    text-align: right;
    padding: 6px 12px 6px 0;
}

.signs {
    display: flex;
    justify-content: end;
    width: 160px;
}

.signs > * {
    display: flex;
    width: 24px;
    justify-content: center; 
}

.clearBtn{
    margin-right: 24px;
}

input {
    color: white;
    background-color: black;
    margin-right: 2px;
}

button{
    border-radius: 10px;
}