

.container{
    display: flex;
    width: 160px;
    justify-content: center;
    border: black solid 1px;
}

.calculator{
    width: 160px;
    display: flex;
    margin-bottom: -21px;
}

.calculatorContainer{
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.numbers{
    display: flex;
    flex-direction: column;
    width: 72px;
}

.numbersC{
    display: flex;
    width: 24px;
    
}

.numbersR{

   width: 24px;
}

.lastRow{
    display:flex;
}

.btnZero{
    display: flex;
    width: 48px;
    justify-content: center;
}

.btnPeriod{
    display: flex;
    width: 24px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    width: 64px;
    height: 63px;
    margin: 0px 16px;
}

.operators > *{
    width: 24px;
  
}

.calculation{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 160px;
    border: black solid 1px;
    margin-bottom: 14px;
}

.calculation > *{
    width: 96px;
    display: flex;
    border-style: hidden;
    text-align: right;
    padding: 6px 12px 6px 0;
}

.signs {
    display: flex;
    justify-content: end;
    width: 160px;
}

.signs > * {
    display: flex;
    width: 24px;
    justify-content: center;
}

.clearBtn{
    margin-right: 24px;
}
